.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

.example-card {
    width: 25%;
}

.search-bar {
    // width: 25%;
    display: inline-block;
}

// /deep/ .mat-input-underline {
//     background-color: #FFFFFF !important;    /* replace this color with your accent color hex code */
// }

// /deep/ .mat-form-field {
//     color: #FFFFFF !important;    /* replace this color with your accent color hex code */
// }

.navbar-nav {
    display: inline-block;
}
