.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

.example-card {
    width: 25%;
}

.search-bar {
    // width: 25%;
    display: inline-block;
}

.logo {
  float: right;
  clear: right;
  padding-left: 7px;
  max-width: 80px;
}

h1 {
    float: left;
    clear: left;
    // font-family: 'Cabin', sans-serif;
    // font-family: 'Shadows Into Light', cursive;
    font-family: 'Amatic SC', cursive;
    letter-spacing: .5px;
    font-size: 60px;
}

h6 {
  float: left;
  clear: both;
  // font-family: 'Cabin', sans-serif;
  // font-family: 'Shadows Into Light', cursive;
  font-family: 'Amatic SC', cursive;
  letter-spacing: .8px;
  font-size: 20px;
}


.navbar-nav {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.navvv {
    text-align: center;
}

ul {
    text-align: justify;
}
ul:after {
    content: '';
    display: inline-block;
    width: 100%;
}
ul:before {
    content: '';
    display: block;
    margin-top: -1.25em;
}
li {
    color: #fff;
    display: inline-block;
    font: 1em/1.5 sans-serif;
    margin-right: -.25em;
    margin-bottom: -.25em;
    padding: 0 1.5em;
    position: relative;
    top: 1.25em;
}

li:hover {
    cursor: pointer;
    background-color:#393e41;
}
.navbar-nav:hover {
    cursor: pointer;
}

.nav-item.nav-link.active.text-right {
    font-size: 20px;
}

.menu {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.on-page {
    background-color: #393e41;
}

.mat-input-element {
  caret-color: white;
}

mat-label {
    color: white;
}

mat-icon {
    color: white;
}

.name {
    letter-spacing: 4px;
}

.below-name {
    letter-spacing: 4px;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 45px;
  background-color: #76948C;
  color: white;
  text-align: left;
}

.footer-text {
  padding-left: 8px;
  padding-top: 8px;
}

/deep/ md-input-container label {
    color: white !important;
  }

  /* When the input is focused */
/deep/ md-input-container.md-input-focused label {
    color: white;
  }
