<nav class="navbar navbar-dark bg-shade">
  <a (click)="setGenre('')" class="navbar-brand " href="/">
      <h1 >LOOKBOOK</h1>
      <h6>- The Table of Content -</h6>
  </a>
  <span class="example-spacer"></span>
  <div class="navbar-expand mr-auto">
    <div (click)="setGenre('')" class="navbar-nav ml-2 mr-4">
      <!-- <a class="nav-item nav-link active text-right" routerLink="submit-review">Submit a Book Content Advisory</a> -->
      <a class="nav-item nav-link active text-right" (click)="goToSearch()">Submit a Content Review</a>
    </div>
    <!-- <div class="navbar-nav ml-2 mr-4">
      <a class="nav-item nav-link active text-right" routerLink="about-us">About Us</a>
    </div> -->
    <mat-form-field appearance="outline" class="search-bar ml-2 mr-4" >
      <input matInput style="color: #FFFFFF" (keyup.enter)="search($event.target.value)" placeholder="Search">
    </mat-form-field>
  </div>
</nav>

<div *ngIf="!isGenrePage" class="bg-primary" style="width: 100%">
    <ul class="text-white navvv pb-0">
        <li class="navbar-nav pb-0" [class.on-page]="isPage('ya')" (click)="searchBooks('best young adult books', 'ya')" routerLink="/genres">
          <a class="nav-item nav-link active">Young Adult</a>
        </li>
        <li class="navbar-nav" [class.on-page]="isPage('sf')" (click)="searchBooks('best scifi books', 'sf')" routerLink="/genres">
          <a class="nav-item nav-link active">SciFi</a>
        </li>
        <li class="navbar-nav" [class.on-page]="isPage('ro')" (click)="searchBooks('best romance novels books', 'ro')" routerLink="/genres">
          <a class="nav-item nav-link active">Romance Novels</a>
        </li>
        <li class="navbar-nav" [class.on-page]="isPage('nf')" (click)="searchBooks('best non fiction books', 'nf')" routerLink="/genres">
          <a class="nav-item nav-link active">Non-fiction</a>
        </li>
        <li class="navbar-nav" [class.on-page]="isPage('sh')" (click)="searchBooks('best self help books', 'sh')" routerLink="/genres">
          <a class="nav-item nav-link active">Self Help</a>
        </li>
        <li class="navbar-nav" [class.on-page]="isPage('h')" (click)="searchBooks('best world history books', 'h')" routerLink="/genres">
          <a class="nav-item nav-link active">History</a>
        </li>
      </ul>
</div>

<!-- <mat-toolbar class="p-4 example-card" color="primary">
  <mat-toolbar-row>
    <span>Material App</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar> -->

<!-- <mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent">LIKE</button>
    <button mat-raised-button color="accent">SHARE</button>
  </mat-card-actions>
</mat-card> -->

<router-outlet class="mb-10"></router-outlet>

<!-- <nav class="navbar navbar-dark bg-primary mt-15 fixed-bottom">
  <div class="navbar-expand m-auto navbar-text">
    Made with <i class="fa fa-heart"></i> by <a href="https://twitter.com/beeman_nl">claire bear. THIS IS FROM A TUTORIAL</a>
  </div>
</nav> -->
