.search-bar-wrapper {
  text-align: center;
}
.search-bar {
  padding-top: 8px;
  display: inline-block;
}
.results-wrapper {
  text-align: left;
}
.result-card {
  display: flex;
  justify-content: left;
  width: 70%;
  height: 250px;
}
.result-card:hover {
  cursor: pointer;
}
.result-image {
  // height: 100%;
}
.book-info {
  padding: 10px;
}
.book-info-primary {
  font-weight: bold;
}
.book-info-secondary {

}
