.spinner {
  padding-top: 8px;
}

.book-info {
    // display: flex;
    //width: 45%;
    align-items: center;
    align-content: center;
}

.book-img {
    display: inline-block;
    width: 80%;
}

.the-details-card {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.deets {
    height: 100%;
}

.content-card {
    display: inline-block;
    width: 90%;
}

.content-card:hover {
    cursor: pointer;
}

.all-content-cards {
    width: 100%;
}

/deep/ .panel-head-and-bar {
    width: 90% !important;
}
