<mat-spinner style="margin:0 auto;" mode="indeterminate" *ngIf="!loaded"></mat-spinner>
<div *ngIf="loaded" >
  <mat-card style="margin: 4em">
    <div class="container d-flex bg-white deets justify-content-center">
      <div class="row"  >
        <div class="align-self-center text-center col-3">
            <img class=" p-2 book-img " [src]=currentBook.imageLinks.thumbnail/>
        </div>
  
        <div class="p-2 col-8" >
          <h3>{{currentBook.title}}</h3>
          <h5>{{currentBook.authors[0]}}</h5>
          <p class="small">{{currentBook.description}}</p>
        </div>
      </div>
    </div>
    
    <div class="all-content-cards">
      <mat-card class="content-card m-2" *ngFor="let review of reviews" (click)="showContentModal(review)">
        <mat-card-subtitle>{{review.title}}</mat-card-subtitle>
        <mat-progress-bar
            aria-label=`${review.title}-rating`
            mode="determinate"
            [value]="getRating(review)">
        </mat-progress-bar>
      </mat-card>
    </div>
    

  </mat-card>
  


</div>
